<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Alex: The Project Management Chatbot</title>
  <link rel="icon" href="{{ url_for('static', filename='sitelogo.png') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
</head>

<body>
  <div class="logo-container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Project Management Chatbot Logo" class="logo-image" />
  </div>

  <div id="chat-container">
    <div id="chat-box"></div>

    <div id="input-area">
      <input type="text" id="user-input" placeholder="Type your message..." autocomplete="off" />
      <button onclick="sendMessage()" aria-label="Send message">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 24 24" fill="white">
          <path d="M2 21l21-9L2 3v7l15 2-15 2z" />
        </svg>
      </button>
    </div>
  </div>
  <script src="../static/myscript.js"></script>
</body>

</html>